/* src/index.css */
@import "./styles/base.css";
@import "./styles/header.css";
@import "./styles/home.css";
@import "./styles/rental-panel.css";
@import "./styles/filter.css";
@import "./styles/footer.css";
@import "./styles/detail.css";
@import "./styles/checkout.css";
@import "./styles/my-bookings.css";

